<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <!--<button type="button" class="btn  btn-danger"-->
                                <!--onclick="batchRemove()">-->
                            <!--<i class="fa fa-trash" aria-hidden="true"></i>删除-->
                        <!--</button>-->
                    </div>
                    <div class="columns pull-right" role="group">
                        <button class="btn btn-success" onclick="reLoad()">
                            <i class="fa fa-search" aria-hidden="true"></i>查询
                        </button>
                    </div>
                    <div class="pull-right search col-md-2">
                        <input id="searchUser" type="text" class="form-control"
                               placeholder="触发报警人">
                    </div>
                    <div class="pull-right search col-md-2">
                        <input id="searchCode" type="text" class="form-control"
                               placeholder="报警代码">
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
    <!--shiro控制bootstraptable行内按钮看见性 -->
    <div>
        <script type="text/javascript">
            var s_edit_h = 'hidden';
            var s_remove_h = 'hidden';
        </script>
    </div>
    <div shiro:hasPermission="sys:role:edit">
        <script type="text/javascript">
            s_edit_h = '';
        </script>
    </div>
    <div shiro:hasPermission="sys:role:remove">
        <script type="text/javascript">
            var s_remove_h = '';
        </script>
    </div>

</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/sys/warn/show.js">

</script>
</body>

</html>